<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>论坛</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/static/css/prettyPhoto.css"/>
    <link rel="stylesheet" href="/static/css/custom-styles.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/style-ie.css"/>
    <![endif]-->

    <!-- Favicons图标 -->
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">

    <!-- JS -->
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/jquery.quicksand.js"></script>
    <script src="/static/js/jquery.custom.js"></script>

</head>

<body>
<!-- 最上面的两条线装饰 -->
<div class="color-bar-1"></div>
<div class="color-bar-2 color-bg"></div>

<div class="container main-container">

    <!-- logo，搜索框，导航栏 -->
    <div class="row header">

        <!-- 左上角图片和logo -->
        <div class="span5 logo" style="width: 250px">
            <!--            <a href="index.htm"><img src="img/piccolo-logo.png" alt=""/></a>-->
            <h5 style="font-size: 28px">一 个 论 坛</h5>
        </div>

        <!-- 搜索框-->
        <form action="/all-0-0-0" method="post" style="margin-left: 0; width: 350px;" class="span5 logo navbar-form navbar-left">
            {% csrf_token %}
            <div style="float: left;" class="form-group">
                <input name="keys" type="text" class="form-control" placeholder="请输入搜索内容">
            </div>
            <button style="margin-top: 4px; margin-left: 10px" type="submit" class="btn btn-default">搜索</button>
        </form>

        <!-- 导航栏 -->
        <div class="span7 navigation" style="width: 300px;float: right;margin-right: 50px;">
            <div class="navbar hidden-phone" style="height: 40px;width: 360px;">

                <ul class="nav">
                    <li><a href="/home">主页</a></li>
                    <li><a href="/publish">发帖</a></li>
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="page-full-width.htm">看帖 <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/all-0-0-0">全部帖子</a></li>
                            <li><a href="/all-1-0-0">军事</a></li>
                            <li><a href="/all-2-0-0">美食</a></li>
                            <li><a href="/all-3-0-0">汽车</a></li>
                            <li><a href="/all-4-0-0">IT</a></li>
                        </ul>
                    </li>
                    {% if uid %}
                        <li><a>{{ uid }}欢迎你</a></li>
                        <li><a href="/login">退出</a></li>
                    {% else %}
                        <li><a href="/login">登录</a></li>
                    {% endif %}
                </ul>

            </div>

            <!-- Mobile Nav -->
            <form action="#" id="mobile-nav" class="visible-phone">
                <div class="mobile-nav-select">
                    <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                        <option value="">导航栏</option>
                        <option value="index.htm">主页</option>
                        <option value="index.htm">- 全显示</option>
                        <option value="index-gallery.htm">- 只显示帖子列表</option>
                        <option value="index-slider.htm">- 只显示轮播图</option>
                        <option value="features.htm">选项1</option>
                        <option value="page-full-width.htm">页面</option>
                        <option value="page-full-width.htm">- 全显示</option>
                        <option value="page-right-sidebar.htm">- 右边</option>
                        <option value="page-left-sidebar.htm">- 左边</option>
                        <option value="page-double-sidebar.htm">- 双边</option>
                        <option value="page-contact.htm">联系我们</option>
                    </select>
                </div>
            </form>

        </div>

    </div>
    <!-- 3个结束 -->

    <!-- 全部帖子 -->
    <div class="row">

        <!-- 所有帖子列表 -->
        <div class="span12 gallery">

            <!-- 筛选条件-->
            <ul id="filterOptions1" class="gallery-cats clearfix">
                <li class="active">帖子分类</li>
                <li class="active"><a href="/all-0-{{ reply_limit }}-{{ time_limit }}" class="all">全部</a></li>
                {% for k in kinds %}
                    {% if kid == k.id %}
                        <li><a href="/all-{{ k.id }}-{{ reply_limit }}-{{ time_limit }}" class="active illustration">{{ k.k_name }}</a></li>
                    {% else %}
                        <li><a href="/all-{{ k.id }}-{{ reply_limit }}-{{ time_limit }}" class="illustration">{{ k.k_name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul id="filterOptions2" class="gallery-cats clearfix">
                <li class="active">回复数量</li>
                <li class="active"><a href="/all-{{ kid }}-0-{{ time_limit }}" class="all">全部</a></li>
                <li><a href="/all-{{ kid }}-1-{{ time_limit }}" class="illustration">大于100</a></li>
                <li><a href="/all-{{ kid }}-2-{{ time_limit }}" class="design">30-100</a></li>
                <li><a href="/all-{{ kid }}-3-{{ time_limit }}" class="video">低于30</a></li>
            </ul>
            <ul id="filterOptions3" class="gallery-cats clearfix">
                <li class="active">发布时间</li>
                <li class="active"><a href="/all-{{ kid }}-{{ reply_limit }}-0" class="all">全部</a></li>
                <li><a href="/all-{{ kid }}-{{ reply_limit }}-1" class="illustration">一个月内</a></li>
                <li><a href="/all-{{ kid }}-{{ reply_limit }}-2" class="design">3个月内</a></li>
                <li><a href="/all-{{ kid }}-{{ reply_limit }}-3" class="video">6个月内</a></li>
                <li><a href="/all-{{ kid }}-{{ reply_limit }}-4" class="video">1年内</a></li>
            </ul>

            <!-- 列表 -->
            <div class="row clearfix">
                <ul class="gallery-post-grid holder">

                    <!-- 帖子列表 -->
                    {% for t in topics %}
                        <li class="span3 gallery-item" data-id="id-1" data-type="illustration">
                            <a href="/single/{{ t.id }}"><img src="{{ t.t_photo }}" alt="Gallery"></a>
                            <span class="project-details"><a href="/single/{{ t.id }}">{{ t.t_title }}</a>{{ t.t_introduce }}</span>
                        </li>
                    {% endfor %}

                </ul>
            </div>

            <!-- 页面 -->
{#            <div class="pagination">#}
{#                <ul>#}
{#                    <li class="active"><a href="#">Prev</a></li>#}
{#                    <li class="active"><a href="#">1</a></li>#}
{#                    <li><a href="#">2</a></li>#}
{#                    <li><a href="#">3</a></li>#}
{#                    <li><a href="#">4</a></li>#}
{#                    <li><a href="#">Next</a></li>#}
{#                </ul>#}
{#            </div>#}

        </div>

    </div>

</div>

<!-- 尾部 -->
<div class="footer-container">
    <div class="container">
        <div style="margin-top: 30px" class="row">
            <div class="span12 footer-col footer-sub">
                <div class="row no-margin">
                    <div class="span6"><span class="left">一个论坛</span>
                    </div>
                    <div class="span6">
                            <span class="right">
                            <a href="/home">主页</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/publish">发帖</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a
                                    href="#">页面</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a
                                    href="#">联系我们</a>
                            </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- 尾部结束 -->

<!-- 回到顶端 -->
<div id="toTop" class="hidden-phone hidden-tablet">回到顶端</div>

</body>
</html>
